<nav>
  <div class="wrapper">
    <div class="site-title">
      <a href="/">
        <h1>Share feelings</h1>
      </a>
      <p>Anonymously</p>
    </div>
    <ul class="links">
      <ul>
        <a href="/">Feelings</a>
      </ul>
      <ul>
        <a href="/about">About</a>
      </ul>
      <ul>
        <a href="/feelings/new">New feeling</a>
      </ul>
    </ul>
  </div>
</nav>
