<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main class="main-tab">
      <div class="wrapper">
        <h2 class="title">Oops Page not found!!</h2>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
