<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body>
    <%- include('./partials/nav.ejs') %> 
    <main class="main-tab">
      <div class="wrapper">
        <h2 class="title">About Us</h2>
        <p class="about-text">
          I am a solo developer who got the idea of this Website while learning Node Js with the help of NetNinja Youtube channel.
          So I developed this with NodeJs, ExpressJs, ejs view enjine and MongoDB.
        </p>
      </main>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
